absl-py==1.4.0
aiofiles==24.1.0
aiosignal==1.3.1
async-timeout==4.0.3
attrs==22.1.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
distlib==0.3.8
filelock==3.16.0
frozenlist==1.4.1
google-auth==2.34.0
google-auth-oauthlib==1.0.0
grpcio==1.66.1
h11==0.14.0
httptools==0.6.1
idna==3.8
jaxlib==0.4.30
jmespath==1.0.1
keras==2.12.0
libclang==18.1.1
locket==1.0.0
Markdown==3.7
MarkupSafe==2.1.5
ml-dtypes==0.4.0
multidict==5.2.0
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==20.9
pamqp==3.2.1
platformdirs==4.3.2
protobuf==4.23.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pyparsing==3.1.4
pyreadline3==3.4.3
python-dateutil==2.8.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
ruamel.yaml.clib==0.2.8
sanic==21.12.2
sanic-routing==0.7.2
scipy==1.10.1
simple-websocket==1.0.0
six==1.16.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
toolz==0.12.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.4
wcwidth==0.2.13
websockets==10.4
Werkzeug==3.0.4
wrapt==1.14.1
wsproto==1.2.0
yarl==1.11.1
